Package: com.example.vcammax
Name: VcamMax
Version: 1.0.0
Architecture: iphoneos-arm64e
Description: Camera replacement tweak (arm64e rootless)
Maintainer: vcammax
Author: vcammax
Section: Tweaks
Depends: mobilesubstrate
